In [24]:
import matplotlib as plt
import pandas as pd
from scipy import stats
import numpy as np
import math

In [28]:
mouse_df = pd.read_csv('Mouse_metadata.csv')
mouse_df

    Mouse ID Drug Regimen     Sex  Age_months  Weight (g)
0       k403     Ramicane    Male          21          16
1       s185    Capomulin  Female           3          17
2       x401    Capomulin  Female          16          15
3       m601    Capomulin    Male          22          17
4       g791     Ramicane    Male          11          16
..       ...          ...     ...         ...         ...
244     z314     Stelasyn  Female          21          28
245     z435     Propriva  Female          12          26
246     z581    Infubinol  Female          24          25
247     z795     Naftisol  Female          13          29
248     z969     Naftisol    Male           9          30

[249 rows x 5 columns]

In [29]:
results_df = pd.read_csv('Study_results.csv')
results_df

     Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0        b128          0           45.000000                 0
1        f932          0           45.000000                 0
2        g107          0           45.000000                 0
3        a457          0           45.000000                 0
4        c819          0           45.000000                 0
...       ...        ...                 ...               ...
1888     r944         45           41.581521                 2
1889     u364         45           31.023923                 3
1890     p438         45           61.433892                 1
1891     x773         45           58.634971                 4
1892     b879         45           72.555239                 2

[1893 rows x 4 columns]

In [30]:
merged_df = pd.merge(mouse_df, results_df, on='Mouse ID', how='left')
merged_df

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
...,...,...,...,...,...,...,...,...
1888,z969,Naftisol,Male,9,30,25,63.145652,2
1889,z969,Naftisol,Male,9,30,30,65.841013,3
1890,z969,Naftisol,Male,9,30,35,69.176246,4
1891,z969,Naftisol,Male,9,30,40,70.314904,4
1892,z969,Naftisol,Male,9,30,45,73.867845,4

In [31]:
summary_stats = merged_df.groupby('Drug Regimen').agg(
    mean_tumor_volume = pd.NamedAgg(column='Tumor Volume (mm3)', aggfunc='mean'),
    median_tumor_volume = pd.NamedAgg(column='Tumor Volume (mm3)', aggfunc='median'),
    variance_tumor_volume = pd.NamedAgg(column='Tumor Volume (mm3)', aggfunc='var'),
    standard_deviation_tumor_volume = pd.NamedAgg(column='Tumor Volume (mm3)', aggfunc=np.std),
    SEM_tumor_volume = pd.NamedAgg(column='Tumor Volume (mm3)', aggfunc=stats.sem))


summary_stats

,mean_tumor_volume,median_tumor_volume,variance_tumor_volume,standard_deviation_tumor_volume,SEM_tumor_volume
Drug Regimen,,,,,
Capomulin,40.675741,41.557809,24.947764,4.994774,0.329346
Ceftamin,52.591172,51.776157,39.290177,6.268188,0.469821
Infubinol,52.884795,51.820584,43.128684,6.567243,0.492236
Ketapril,55.235638,53.698743,68.553577,8.279709,0.603860
Naftisol,54.331565,52.509285,66.173479,8.134708,0.596466
Placebo,54.033581,52.288934,61.168083,7.821003,0.581331
Propriva,52.322552,50.854632,42.351070,6.507770,0.512884
Ramicane,40.216745,40.673236,23.486704,4.846308,0.320955
Stelasyn,54.233149,52.431737,59.450562,7.710419,0.573111
Zoniferol,53.236507,51.818479,48.533355,6.966589,0.516398

In [ ]:
# Generate a bar plot using both Pandas's DataFrame.plot() 
# and Matplotlib's pyplot that shows the number of data points for each treatment regimen.
# You must use proper labeling of your plots, to include properties such as: 
# plot titles, axis labels, legend labels, x-axis and y-axis limits, etc.

In [ ]:
# Generate a pie plot using both Pandas's DataFrame.plot() 
# and Matplotlib's pyplot that shows the distribution of female or male mice in the study.
# You must use proper labeling of your plots, to include properties such as: 
# plot titles, axis labels, legend labels, x-axis and y-axis limits, etc.

In [32]:
# Calculate the final tumor volume of each mouse 
# across four of the most promising treatment regimens: Capomulin, Ramicane, Infubinol, and Ceftamin. 
# Calculate the quartiles 
# and IQR 
# and quantitatively determine if there are any potential outliers across all four treatment regimens.
# You must use proper labeling of your plots, to include properties such as: 
# plot titles, axis labels, legend labels, x-axis and y-axis limits, etc.

In [ ]:
# Using Matplotlib, generate a box and whisker plot of the final tumor volume 
# for all four treatment regimens and highlight any potential outliers in the plot by changing their color and style.

# Hint: All four box plots should be within the same figure. 
# Use this Matplotlib documentation page for help with changing the style of the outliers.
# You must use proper labeling of your plots, to include properties such as: 
# plot titles, axis labels, legend labels, x-axis and y-axis limits, etc.

In [33]:
# Generate a line plot of time point versus tumor volume for a single mouse treated with Capomulin.
# You must use proper labeling of your plots, to include properties such as: 
# plot titles, axis labels, legend labels, x-axis and y-axis limits, etc.

In [35]:
# Generate a scatter plot of mouse weight versus average tumor volume for the Capomulin treatment regimen.
# You must use proper labeling of your plots, to include properties such as: 
# plot titles, axis labels, legend labels, x-axis and y-axis limits, etc.

In [ ]:
# Calculate the correlation coefficient 
# and linear regression model between mouse weight and average tumor volume for the Capomulin treatment. 
# Plot the linear regression model on top of the previous scatter plot.
# You must use proper labeling of your plots, to include properties such as: 
# plot titles, axis labels, legend labels, x-axis and y-axis limits, etc.

In [ ]:
# Look across all previously generated figures and tables 
# and write at least three observations or inferences that can be made from the data. 
# Include these observations at the top of notebook.